<?xml version="1.0"?>
<launch>

  <arg name="model" default="$(find arm_package)/urdf/robot_arm.xacro"/>
  <arg name="gui" default="true" />


  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find arm_package)/urdf/robot_arm.xacro"/>
  <param name="use_gui" value="$(arg gui)"/>


  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> 
  
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find arm_package)/rviz/main.rviz" />
</launch>